<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DealershipManagement"
        tools:targetApi="31">
        <activity
            android:name=".EmployeeInformationViewActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeInformationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentEmployeesActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentVehiclesActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleInformationViewActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleInformationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleLocatorSearchActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleLocatorViewActivity"
            android:exported="false" />
        <activity
            android:name=".BookVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>